*{padding: 0; margin: 0;box-sizing: border-box;}

body{    
    height: 100dvh;
    width: 100dvw;
    font-family: AnonymousPro;
    font-weight: 800;
    backdrop-filter: blur(10px);}

    h1{color: red;}
    h4{color: aquamarine;}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 73dvh;}


nav{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 14dvh;
    background-color: #ffffff50;}

nav>a{
    font-size: 4dvh;
    text-decoration: none;
    align-self: center;
    color: #fff;
    align-self: center;
    height: 50%;
    border-radius: 5px;
    transition: all 0.2s ease;
    transform: translateY(1dvh);
}

/*------Logo----*/
nav>a:nth-child(1){
height: 70%;
transform: translateX(40%);}
nav>a>svg{height: 100%; width: auto;}

/*---Links---*/
nav>a:nth-child(2){
    position: absolute;
    right:5%;}
nav>a:nth-child(3){
    position: absolute;
    right: 25%;}
nav>a:nth-child(4){
    position: absolute;
    right:50%;}

nav>a:hover{
    opacity: 0.5;
    color: #fff;
    scale: 1.1;}



footer{
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    width: 100%;
    height: 13dvh;
    background-color: #ffffff50;}

.footer--links,.footer--links--media{
    flex: 5 5 auto;
    position: relative;
    top: 0;bottom: 0;
    margin: auto 0;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 3.5dvh;
    transition: all 0.3s ease;}
.footer--links:first-child{
    margin-left: 8dvh;}
.footer--links:hover,.footer--links--media:hover:hover{
    scale: 1.2;}

.footer--links--media>svg{
    position: relative;
    margin: 0;
    height: 9dvh;
    width: fit-content;
    fill: transparent;
    stroke: #ffffff;}

.footer--links--media:last-child{
    flex: 1 1 auto;
    height: min-content;
    width: min-content;}




.form-container {
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    width: 100%;
    margin:0 5dvh;
    transform: translateY(5dvh);
    height: 77dvh;}

h2 {
    color: white;
    margin: 3dvh 0;
    text-align: center;
    font-size: 5dvh;}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;}


label {
    display: block;
    color: white;
    color: white;
    margin: 0.5dvh 0;
    text-align: center;
    font-size: 3dvh;
    font-weight: 400;}

input,textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: rgba(255,255,255,0.9);}

input{
    width: 80% ;
    padding: 0.5dvh 1dvh;
    font-size: 3dvh;
    margin-bottom: 2dvh;
    color: black;}

textarea {
    width: 80% ;
    font-size: 3dvh;
    padding: 2dvh 3dvh;
    resize: vertical;}

#crear-imagen,#editar-imagen {
    height: 6dvh;
    width: 70%;
    font-size: 2dvh;
}

button {
    margin-bottom: 1dvh;
    padding: 1dvh 2dvh;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3dvh;
    transition: all 0.3s ease;
    margin-top: 3dvh;}

button:hover {opacity: 0.7;}