body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(178, 170, 159);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100dvw;
    height: 100dvh;
    font-family: AnonymousPro;
    font-weight: 400;}

#ghost__container{
    flex: 3 3 auto;}

/* ---Bienvenido--- */
#side__container{
    flex: 5 5 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;}
h2{
    font-size: 16dvh;
    width: 100%;
    color: #fff;
    text-align: center;
    filter: drop-shadow(10px  10px 10px rgba(0, 0, 0, 0.47) );}
#side__container >p{
    font-size: 7dvh;
    color: #fff;
    text-align: center;
    font-family: FuzzyBubbles}


/* Formulario de Informacion Personal*/
#form__container_p{
    color: #fff;
    height: 72%;
    position: relative;
    transform: translateY(5dvh);
    animation: llegar 1s ease;
}

/* Formulario de Credenciales */
#form__container_c{
    height: 80%;
    transition: all 1s ease allow-discrete ,display 0s ease allow-discrete;
    @starting-style {
        display: none;
        scale: 0.5;
        opacity: 0;
    }
}

#form__container_c>label:nth-child(2){margin-top: 5dvh!important;}


#next_form{
    color: #000;
    font-size: 2.5dvh;
    padding: 2dvh;
    border-radius: 20px;
    margin-top: 3dvh;
    background-color: #ffffff;
    width: 80%;}

#back_form{
    color: #000;
    font-size: 3dvh;
    height: 6dvh;
    border-radius: 20px;
    margin-top: 1dvh;
    background-color: #ffffff;
    width: 80%;}

#container{
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65dvh;
    height:98dvh;
    animation: llegar 1s ease;}


/* ---Encabezado Formulario--- */
h1{
    margin: 2dvh 0;
    font-size: 8dvh;
    filter: drop-shadow(0px  10px 10px rgba(0, 0, 0, 0.47) );
    color: white;
    transform: translateY(5dvh);
    transition: all 0.3s ease;}


/* ---Formulario---- */
.form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#32302da7;
    box-shadow: 0.8dvw 1dvw 20px 5px rgba(47, 47, 47, 0.82);
    height: fit-content;
    height: 100%;
    width: 85%;
    font-size: 3dvh;
    border-radius: 10px;}


/* ---Labels--- */
label{
    font-weight: 800;
    font-size: 3dvh;
    color: white;
    margin-bottom: 0.5dvh;}
label:nth-child(2){
    margin-top: 2dvh;}
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    margin-top: 3dvh;}
legend{
    color: #fff; padding: 2dvh;font-size: 4dvh;}

h5{
    font-size: 2.8dvh;
    font-weight: 800;
    margin-top: 2dvh;}


/*---Inputs---*/
input{
    width: 60%;
    height: 6dvh;
    margin-bottom:3dvh;     
    border-radius: 10px;
    outline-color:#0000006f ;
    background-color: rgba(226, 233, 211, 0.45);
    border: none;
    color: #fff;
    text-align: center;
    border-bottom:0.3dvh solid #000000;
    border-right: 0.2dvh solid #000000cc;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.477);}
input:hover{
    opacity: 0.7;}
input::placeholder{
    font-size: 3dvh;
    padding: 0 10px;
    color: #fff;}
input[type="submit"]{
    font-size: 4dvh;
    border-radius: 30px;
    background-color: #fff;
    color: #000000;
    width: 50%;
    height:8dvh;
    transform: translateY(5dvh);}



/*---Button Switching---*/
.box{
    position: absolute;
    bottom: 1dvh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;}
.box > p{
    font-size: 3.5dvh;
    margin-bottom: 1dvh;
    text-align: center;
    color: #fff;}
.box > button {
    display: flex;
    flex-direction: column;
    height: 8dvh;
    border-radius: 20px;
    background-color: #a1d19e;
    width: 80%;}
.box > button > a{
    width: 100%;
    align-self: center;
    margin: auto;
    color: #fff;
    text-decoration: none;
    font-size: 2.5dvh;}


/*---KeyFrames---*/
@keyframes llegar{
    from{
        scale: 0.5;
        opacity: 0.2;}
    to{
        scale: 1;
        opacity: 1;}}

span{display: none;}
br{display: none;}